<template>
    <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Генерация заглушки по ПУ</h1>
        <hr><br><br>
        <sevicePackage @newServicePackage="addServicePackage"
                       @positionOnSP="setActiveServicePackage"/>
        </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12">
        <commission v-show="tariffPlanHistory.length>0"
                    :parentServicePackage="activeServicePackage"/>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12">
        <packageCard   @newCard="addCard" 
                        v-show="tariffPlanHistory.length>0"/>
      </div>
    </div>
    <div class="mt-5" v-show="tariffPlanHistory.length>0">
      <b-card header-tag="header">
        <p slot="header" class="mb-0">/crm/siebel/int/GetTariffInfoList.xml</p>
        <b-card-text>
          <xmlTextArea :xmlMainTag= '"GetTariffInfoList"'
                     :xmlDataObject = 'tariffPlanHistory'/>
        </b-card-text>
      </b-card>
    </div>
  </div>
</template>

<script>
import sevicePackage from './components/ServicePackage.vue'
import xmlTextArea from './components/XmlTextArea.vue'
import packageCard from './components/ServicePackageCards.vue'
import commission from './components/Commission.vue'

export default {
  name: 'App',
  components: {
    sevicePackage,
    xmlTextArea,
    packageCard,
    commission
  },
  data() {
    return {
      tariffPlanHistory: [],
      activeServicePackage: ''
    };
  },
  methods: {
    addCard(payload){

      const cardInfo = {
        Typecard: payload.Typecard,
        CommissionCardStartDate: payload.CommisionCardStartDate
                              .replace(/(\d{4})-(\d{2})-(\d{2})/g,"$2/$3/$1"),
        CommissionCardEndDate: payload.CommisionCardEndDate
                                    .replace(/(\d{4})-(\d{2})-(\d{2})/g,"$2/$3/$1"),
        TarifPlanCardFlag: (payload.TarifPlanCardFlag ? 1 : 0),
        BlockCardFlag: payload.BlockCardFlag,
        MaskedNumCard: payload.MaskedNumCard,
        balanceCard: payload.balanceCard,
        NameCard: payload.NameCard,
       // CodeCard: payload.CodeCard,
        amountDebt: payload.amountDebt,
        currencyType: payload.currencyType,
        AccountNumber: payload.AccountNumber,
        ContractId: payload.ContractId,
        ListOfWay4StatusRs: new Array({
               objName: "Way4StatusRs", 
               ErrorCode: payload.Way4StatusRs_ErrorCode,
               ErrorMsg: payload.Way4StatusRs_ErrorMsg
        }),
        objName: "CardInfo"
      }
      
      var hasTbProfile = false;

      for(let i=0; i < this.tariffPlanHistory.length; i++){
           if (this.tariffPlanHistory[i].Tb == payload.TBCode){
              
              this.tariffPlanHistory[i].ListOfCardInfo.push(cardInfo);
              hasTbProfile = true;
              break;
           }
      }
      if(!hasTbProfile){
          this.tariffPlanHistory.push({
            objName: "TariffPlanHistory",
            PersonId: "0-1",
            Tb: payload.TBCode,
            CommisionSumm: 2500,
            ListOfCardInfo: new Array(cardInfo)
          });
      }
    },
    addServicePackage(payload) {
      const tariffPlanInfo = {
        TariffPlanCode: payload.code,
        TariffPlanDate: payload.connectDate
                              .replace(/(\d{4})-(\d{2})-(\d{2})/g,"$2/$3/$1"),
        EndPrivilegeDate: (!!payload.gracePeriodEndDate ?
                            payload.gracePeriodEndDate
                              .replace(/(\d{4})-(\d{2})-(\d{2})/g,"$2/$3/$1") :
                            payload.trialPeriodEndDate
                              .replace(/(\d{4})-(\d{2})-(\d{2})/g,"$2/$3/$1")),
        ActionType: (!payload.gracePeriodEndDate ? 1 : 2),
        ActionNum: payload.actionNum,
        TariffPlanName: payload.name,
        TariffPlanDateClose: (!!payload.disconnectDate ?
                                payload.disconnectDate
                                  .replace(/(\d{4})-(\d{2})-(\d{2})/g,"$2/$3/$1") : null),
        CloseReason: payload.closeReason,
        key: payload.key,
        objName: "TariffPlanInfo"
      }

      Object.defineProperty(tariffPlanInfo, "key", {
              enumerable: false,
              writable: false
      });

      var hasTbProfile = false;

      for(let i=0; i < this.tariffPlanHistory.length; i++){
           if (this.tariffPlanHistory[i].Tb == payload.tbCode){

              this.tariffPlanHistory[i].ListOfTariffPlanInfo.push(tariffPlanInfo);
              hasTbProfile = true;
              break;
           }
      }
      if(!hasTbProfile){
          this.tariffPlanHistory.push({
            objName: "TariffPlanHistory",
            PersonId: "0-1",
            Tb: payload.tbCode,
            CommisionSumm: payload.commission,
            ListOfTariffPlanInfo: new Array(tariffPlanInfo),
            ListOfCardInfo: new Array()
          });
      }

    },
    setActiveServicePackage(payload){
      this.activeServicePackage = payload;
    }
  }


}
</script>

<style type="text/css">

  .modal-backdrop
  {
      opacity:0.5 !important;
  }
</style>

