<template>
 <div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4>Списания</h4>
    </div>
    <div class="col-sm-9">
      <button type="button" class="btn btn-success btn-sm" 
              v-b-modal.commission-modal>Добавить начисление</button>
      <button type="button" class="btn btn-success btn-sm" 
              v-b-modal.commission-modal>Добавить списание</button>      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Начало</th>
              <th scope="col">Окончание</th>
              <th scope="col">Сумма</th>
              <th scope="col">Транзакции</th>
              <th scope="col">Баланс</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(c, index) in commissions" :key="index"
                                  @click="setActiveRow(index)" 
                                  :class="{'table-success' : index == activeRowIndex}"
                                  v-show="c.parentKey ==  parentServicePackage"> 
                <td>{{c.startPeriod}}</td>
                <td>{{c.endPeriod}}</td>
                <td>{{c.sum}}</td>
                <td>{{c.totalTransactions}}</td>
                <td>{{c.totalBalance}}</td> 
            </tr>
          </tbody> 
        </table>
        <b-modal id="commission-modal"
            ref="addCommModal"
            title="Начисление комиссии"
            hide-footer
            size="lg">
          <b-form @submit="onSubmit" @reset="onReset">
            <b-form-row>
                <label for="form-period-input"
                      class="mr-sm-2">Месяц</label>
                <b-form-input id="form-period-input"
                                type="date"
                                class="mb-2 mr-sm-2 mb-sm-0"
                                v-model="addCommissionForm.period">
                </b-form-input>
            </b-form-row>
            <b-form-row>
                <label for="form-sum-input"
                      class="mr-sm-2">Сумма начисления</label>
                <b-form-input id="form-sum-input"
                          type="number"
                          class="mb-2 mr-sm-2 mb-sm-0"
                          v-model="addCommissionForm.sum"
                          required>
                </b-form-input>
            </b-form-row>
            <b-form-row>
                <label for="form-transactions-input"
                      class="mr-sm-2">Транзакций на сумму</label>
                <b-form-input id="form-transactions-input"
                          type="number"
                          class="mb-2 mr-sm-2 mb-sm-0"
                          v-model="addCommissionForm.totalTransactions"
                          required>
                </b-form-input>
            </b-form-row>
            <b-form-row>
                <label for="form-balance-input"
                      class="mr-sm-2">Баланс</label>
                <b-form-input id="form-balance-input"
                          type="number"
                          class="mb-2 mr-sm-2 mb-sm-0"
                          v-model="addCommissionForm.totalBalance"
                          required>
                </b-form-input>
            </b-form-row>

            <b-button class="mt-3" type="submit" variant="success">Ок</b-button>
            <b-button class="mt-3" type="reset" variant="danger">Отмена</b-button>
          
          </b-form>
        </b-modal>
    </div>
  </div>
 </div>      
</template>


<script type="text/javascript">
  export default {
    methods: {
      initForm() {

        this.addCommissionForm.period = (new Date()).toISOString().split('T')[0];
        this.addCommissionForm.sum = 2500;
        this.addCommissionForm.totalTransactions = 0;
        this.addCommissionForm.totalBalance = 0;

      },
      onSubmit(evt) {

        evt.preventDefault();
        this.$refs.addCommModal.hide();


        let periodDt = new Date(this.addCommissionForm.period);

        let startPeriod = new Date(periodDt.getFullYear(),
                                   periodDt.getMonth(), 1, 12, 0, 0);

        let endPeriod =   new Date(periodDt.getFullYear(),
                                   periodDt.getMonth()+1, 0, 12, 0, 0);
        
        const payload = {
            startPeriod: startPeriod.toISOString().split('T')[0],
            endPeriod:   endPeriod.toISOString().split('T')[0],
            sum: this.addCommissionForm.sum,
            totalBalance: this.addCommissionForm.totalBalance,
            totalTransactions: this.addCommissionForm.totalTransactions,
            key: Number(new Date).toString(16),
            parentKey: this.parentServicePackage

        };

        this.addCommission(payload);
        this.initForm();
        
      },
      onReset(evt){
        evt.preventDefault();
        this.$refs.addCommModal.hide();
        this.initForm();
      },
      addCommission(payload) {
        this.commissions.push(payload);
        this.$emit('newCommission');
        this.setActiveRow(this.commissions.length-1);

        console.log(this.commissions)
      },
      setActiveRow(i){
        this.activeRowIndex = i;
      }
    },
    data() {
      return {
          commissions: [],
          addCommissionForm: {
            period : (new Date()).toISOString().split('T')[0],
            sum: 2500,
            totalTransactions: 0,
            totalBalance: 0
          },
          activeRowIndex: 0
      }
    },
    props: {
      parentServicePackage : String
    }
  }
</script>