<template>
 <div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4>Пакеты услуг</h4>
    </div>
    <div class="col-sm-9">
      <button type="button" class="btn btn-success btn-sm" v-b-modal.sp-modal>Новый</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">ТБ</th>
            <th scope="col">Название</th>
            <th scope="col">Дата подключения</th>
            <th scope="col">Дата окончания льготного периода</th>
            <th scope="col">Дата окончания испытательного периода</th>
            <th scope="col">Номер акции</th>
            <th scope="col">Дата отключения</th>
            <th scope="col">Причина отключения</th>
            <th scope="col">Комиссия справочно</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(sp, index) in servicePackages" :key="index" 
              @click="setActiveRow(index)" 
              :class="{'table-success' : index == activeRowIndex}">
            <td>{{sp.tbCode}}</td>
            <td>{{sp.name}}</td>
            <td>{{sp.connectDate}}</td>
            <td>{{sp.gracePeriodEndDate}}</td>
            <td>{{sp.trialPeriodEndDate}}</td>
            <td>{{sp.actionNum}}</td>
            <td>{{sp.disconnectDate}}</td>
            <td>{{sp.closeReason}}</td>
            <td>{{sp.commission}}</td>
          </tr>

          </tbody>
        </table>
    <b-modal ref="addSPModal"
             id="sp-modal"
             title="Добавить ПУ"
             hide-footer
             size="lg">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-form-row>
          <b-col>
            <label class="mr-sm-2" for="form-name-input">Название</label>
            <b-input id="form-name-input"
                     type="text"
                     v-model="addSPForm.name"
                     class="mb-2 mr-sm-2 mb-sm-0"
                     required>
            </b-input>
          </b-col>
          <b-col>
            <label class="mr-sm-2" for="form-tb-input">Код ТБ</label>
            <b-input id="form-tb-input"
                     type="number"
                     class="mb-2 mr-sm-2 mb-sm-0"
                     v-model="addSPForm.tbCode"
                     required>
            </b-input>
          </b-col>
          <b-col>
            <label class="mr-sm-2" for="form-connect-input">Дата подключения</label>
            <b-input id="form-connect-input"
                     type="date"
                     class="mb-2 mr-sm-2 mb-sm-0"
                     v-model="addSPForm.connectDate"
                     required
                     placeholder="MM/DD/YYYY">
            </b-input>
          </b-col>
        </b-form-row>
        <b-form-row>
          <b-col>
            <label for="form-grace-input"
                   class="mr-sm-2">Льготн. период до</label>
            <b-form-input id="form-grace-input"
                          type="date"
                          class="mb-2 mr-sm-2 mb-sm-0"
                          v-model="addSPForm.gracePeriodEndDate">
            </b-form-input>
          </b-col>
          <b-col>
            <label for="form-trial-input"
                   class="mr-sm-2">Испыт. период до</label>
            <b-form-input id="form-trial-input"
                          type="date"
                          class="mb-2 mr-sm-2 mb-sm-0"
                          v-model="addSPForm.trialPeriodEndDate">
            </b-form-input>
          </b-col>
          <b-col>
            <label for="form-action-input"
                   class="mr-sm-2">Номер акции</label>
            <b-form-input id="form-action-input"
                          type="number"
                          class="mb-2 mr-sm-2 mb-sm-0"
                          v-model="addSPForm.actionNum"
                          required>
            </b-form-input>
          </b-col>
        </b-form-row>
        <b-form-row>
          <b-col>
            <label for="form-disconnect-date-input"
                   class="mr-sm-2">Дата отключения</label>
            <b-form-input id="form-disconnect=-date-input"
                          type="date"
                          class="mb-2 mr-sm-2 mb-sm-0"
                          v-model="addSPForm.disconnectDate">
            </b-form-input>
          </b-col>
          <b-col>
            <label for="form-disconnect-reason-input"
                   class="mr-sm-2">Причина отключения</label>
            <b-form-input id="form-disconnect-reason-input"
                          type="text"
                          class="mb-2 mr-sm-2 mb-sm-0"
                          v-model="addSPForm.closeReason">
            </b-form-input>
          </b-col>
          <b-col>
            <label for="form-comm-input"
                   class="mr-sm-2">Комиссия справочно</label>
            <b-form-input id="form-comm-input"
                          type="number"
                          class="mb-2 mr-sm-2 mb-sm-0"
                          v-model="addSPForm.commission"
                          required>
            </b-form-input>
          </b-col>
        </b-form-row>

        <b-button class="mt-3" type="submit" variant="success">Ок</b-button>
        <b-button class="mt-3" type="reset" variant="danger">Отмена</b-button>

      </b-form>
    </b-modal>
    </div>
  </div>

  </div>
</template>

<script type="text/javascript">
  export default {
    data() {
      return {
        servicePackages: [],
        addSPForm: {
          name : null,
          tbCode : 38,
          connectDate : (new Date()).toISOString().split('T')[0],
          gracePeriodEndDate : (new Date(new Date().getFullYear()+1,1,0))
                                        .toISOString().split('T')[0],
          trialPeriodEndDate : null,
          actionNum : 99,
          disconnectDate : null,
          closeReason : null,
          commission : 2500,
          code: 1
        },
        activeRowIndex: 0

      };
    },
    methods: {
      addServicePackage(payload) {
        this.servicePackages.push(payload);
        this.$emit('newServicePackage', payload);
        this.setActiveRow(this.servicePackages.length - 1);
      },
      setActiveRow(i){
        this.activeRowIndex = i;
        const payload = this.servicePackages[i].key;
        this.$emit('positionOnSP', payload);
      },
      initForm() {
        this.addSPForm.name = '';
        this.addSPForm.tbCode = 38;
        this.addSPForm.connectDate = (new Date()).toISOString().split('T')[0];
        this.addSPForm.gracePeriodEndDate = (new Date(new Date().getFullYear()+1,1,0))
                                              .toISOString().split('T')[0];
        this.addSPForm.trialPeriodEndDate = null;
        this.addSPForm.actionNum = 99;
        this.addSPForm.disconnectDate = null;
        this.addSPForm.closeReason = null;
        this.addSPForm.commission = 2500;
        this.addSPForm.code = 1;
      },
      onSubmit(evt) {
        evt.preventDefault();
        this.$refs.addSPModal.hide();
        const payload = {
          name: this.addSPForm.name,
          tbCode: parseInt(this.addSPForm.tbCode),
          connectDate: this.addSPForm.connectDate,
          gracePeriodEndDate: this.addSPForm.gracePeriodEndDate,
          trialPeriodEndDate: this.addSPForm.trialPeriodEndDate,
          actionNum: this.addSPForm.actionNum,
          disconnectDate: this.addSPForm.disconnectDate,
          closeReason: this.addSPForm.closeReason,
          commission: this.addSPForm.commission,
          key: Number(new Date).toString(16),
          objName : 'TariffPlanInfo'
        };
        this.addServicePackage(payload);
        this.initForm();
      },
      onReset(evt) {
        evt.preventDefault();
        this.$refs.addSPModal.hide();
        this.initForm();
      }
    }
  }
</script>

<style type="text/css">

  .modal-backdrop
  {
    opacity:0.5 !important;
  }
</style>
