<template>
  <div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4>Пакетные карты</h4>
    </div>
    <div class="col-sm-9">
      <button type="button" class="btn btn-success btn-sm" v-b-modal.spc-modal>Добавить карту</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="coll">ТБ</th>
          <th scope="col">Номер счета</th>
          <th scope="col">Карта</th>
          <th scope="col">Номер карты</th>
          <th scope="col">Статус</th>
          <th scope="col">Остаток</th>
          <th scope="col">Валюта</th>
          <th scope="col">Добавлена на списание</th>
          <th scope="col">Исключена из списания</th>
          <th scope="col">Пакетная</th>
          <!-- <th scope="col">Id Контракта</th>
          <th scope="col">Сумма Debt</th>
          <th scope="col">TypeCard</th>
          <th scope="col">Статус карты Way4</th>
          <th scope="col">Текст ошибки Way4</th> -->


        </tr>
        </thead>
        <tbody>
        <tr v-for="(spc, index) in servicePackageCards" :key="index">
          <td>{{spc.TBCode}}</td>
          <td>{{spc.AccountNumber}}</td>
          <td>{{spc.NameCard}}</td>
          <td>{{spc.MaskedCardNum}}</td>
          <td>{{spc.BlockCardFlag}}</td>
          <td>{{spc.balanceCard}}</td>
          <td>{{spc.currencyType}}</td>
          <td>{{spc.CommisionCardStartDate}}</td>
          <td>{{spc.CommisionCardEndDate}}</td>
          <td><input type="checkbox" 
                    name="packageCardFlagCheckBox"
                    checked onclick="return false;"
                    v-model="spc.TarifPlanCardFlag"/></td>
          <!-- <td>{{spc.ContractId}}</td>
          <td>{{spc.amountDebt}}</td>
          <td>{{spc.TypeCard}}</td>
          <td>{{spc.Way4StatusRs_ErrorCode}}</td>
          <td>{{spc.Way4StatusRs_ErrorMsg}}</td> -->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <b-modal ref="addSPCardModal"
           id="spc-modal"
           title="Добавить карту"
           hide-footer
           size="lg">
    <b-form @submit="onSubmitCard" @reset="onResetCard" >
      <b-form-row>
        <b-col>
          <label class="mr-sm-2" for="form-AccountNumber-input">Номер счета</label>
          <b-input id="form-AccountNumber-input"
                   type="text"
                   v-model="addSPCardForm.AccountNumber"
                   class="mb-2 mr-sm-2 mb-sm-0"
                   required>
          </b-input>
        </b-col>
        <b-col>
          <label class="mr-sm-2" for="form-BlockCardFlag-input">Номер карты</label>
          <b-input id="form-BlockCardFlag-input"
                   type="text"
                   class="mb-2 mr-sm-2 mb-sm-0"
                   v-model="addSPCardForm.MaskedCardNum"
                   required>
          </b-input>
        </b-col>
        <b-col>
        <label class="mr-sm-2" for="form-BlockCardFlag-input">Статус</label>
        <b-input id="form-BlockCardFlag-input"
                 type="text"
                 class="mb-2 mr-sm-2 mb-sm-0"
                 v-model="addSPCardForm.BlockCardFlag"
                 required>
        </b-input>
      </b-col>
      </b-form-row>
      <b-form-row>
      <b-col>
        <label class="mr-sm-2" for="form-balanceCard-input">Остаток</label>
        <b-input id="form-balanceCard-input"
                 type="number"
                 v-model="addSPCardForm.balanceCard"
                 class="mb-2 mr-sm-2 mb-sm-0"
                 required>
        </b-input>
      </b-col>
      <b-col>
        <label class="mr-sm-2" for="form-amountDebt-input">ТБ</label>
        <b-input id="form-amountDebt-input"
                 type="number"
                 class="mb-2 mr-sm-2 mb-sm-0"
                 v-model="addSPCardForm.TBCode"
                 required>
        </b-input>
      </b-col>
      <b-col>
        <label class="mr-sm-2" for="form-ContractId-input">ID контракта</label>
        <b-input id="form-ContractId-input"
                 type="text"
                 class="mb-2 mr-sm-2 mb-sm-0"
                 v-model="addSPCardForm.ContractId"
                 required>
        </b-input>
      </b-col>
      <b-col>

        <b-checkbox
               id="form-TarifPlanCard-checkbox"
               class="mt-4 mr-sm-2 mb-sm-0 pt-3 ml-3"
               v-model="addSPCardForm.TarifPlanCardFlag">
                 Пакетная
        </b-checkbox>
      </b-col>
      
    </b-form-row>

      <b-button class="mt-3" type="submit" variant="success">Ок</b-button>
      <b-button class="mt-3" type="reset" variant="danger">Отмена</b-button>

    </b-form>
  </b-modal>
  </div>
</template>

<script type="text/javascript">
  const objDefaultCard ={
      Typecard:'1',
      TarifPlanCardFlag:true,
      BlockCardFlag:'+ - КАРТОЧКА ОТКРЫТА',
      MaskedCardNum:'',
      balanceCard: 0,
      NameCard:'VISA Platinum',
      amountDebt:'0',
      currencyType:'RUR',
      AccountNumber:'',
      ContractId:'',
      CommisionCardStartDate:'',
      CommisionCardEndDate:'',
      Way4StatusRs_ErrorCode:'0',
      Way4StatusRs_ErrorMsg:'',
      TBCode: 38
  };

  export default {
    data() {
      return {
        servicePackageCards:[],
        addSPCardForm: {
                        Typecard:'1',
                        TarifPlanCardFlag:true,
                        BlockCardFlag:'+ - КАРТОЧКА ОТКРЫТА',
                        MaskedCardNum:'4276***' + Math.random().toString().substr(2,4),
                        balanceCard: 0,
                        NameCard:'VISA Platinum',
                        amountDebt:'0',
                        currencyType:'RUR',
                        AccountNumber:Math.random().toString().substr(2,10),
                        ContractId: Math.random().toString().substr(2,10),
                        CommisionCardStartDate : (new Date()).toISOString().split('T')[0],
                        CommisionCardEndDate : (new Date(new Date().getFullYear()+1,1,0)).toISOString().split('T')[0],
                        Way4StatusRs_ErrorCode:'0',
                        Way4StatusRs_ErrorMsg:'',
                        TBCode: 38
                      }

      };
    },
    methods: {
      addServicePackageCards(card) {
        this.servicePackageCards.push(card);
        this.$emit('newCard', card);
      },
      initFormCard() {
        this.addSPCardForm.Typecard='1';
        this.addSPCardForm.TarifPlanCardFlag=true;
        this.addSPCardForm.BlockCardFlag='+ - КАРТОЧКА ОТКРЫТА';
        this.addSPCardForm.MaskedCardNum='4276***' + Math.random().toString().substr(2,4);
        this.addSPCardForm.balanceCard=0;
        this.addSPCardForm.NameCard='VISA Platinum';
        this.addSPCardForm.amountDebt='0';
        this.addSPCardForm.currencyType='RUR';
        this.addSPCardForm.AccountNumber=Math.random().toString().substr(2,10);
        this.addSPCardForm.ContractId=Math.random().toString().substr(2,10);
        this.addSPCardForm.CommisionCardStartDate =(new Date()).toISOString().split('T')[0];
        this.addSPCardForm.CommisionCardEndDate = (new Date(new Date().getFullYear()+1,1,0)).toISOString().split('T')[0];
        this.addSPCardForm.Way4StatusRs_ErrorCode='0';
        this.addSPCardForm.Way4StatusRs_ErrorMsg='';
        this.addSPCardForm.TBCode=38;
      },
      onSubmitCard(evt) {
        evt.preventDefault();
        this.$refs.addSPCardModal.hide();
        const card ={
          Typecard:this.addSPCardForm.Typecard,
          TarifPlanCardFlag:this.addSPCardForm.TarifPlanCardFlag,
          BlockCardFlag:this.addSPCardForm.BlockCardFlag,
          MaskedCardNum:this.addSPCardForm.MaskedCardNum,
          balanceCard:this.addSPCardForm.balanceCard,
          NameCard:this.addSPCardForm.NameCard,
          amountDebt:this.addSPCardForm.amountDebt,
          currencyType:this.addSPCardForm.currencyType,
          AccountNumber:this.addSPCardForm.AccountNumber,
          ContractId:this.addSPCardForm.ContractId,
          CommisionCardStartDate:this.addSPCardForm.CommisionCardStartDate,
          CommisionCardEndDate:this.addSPCardForm.CommisionCardEndDate,
          Way4StatusRs_ErrorCode:this.addSPCardForm.Way4StatusRs_ErrorCode,
          Way4StatusRs_ErrorMsg:this.addSPCardForm.Way4StatusRs_ErrorMsg,
          TBCode: this.addSPCardForm.TBCode
        }
        this.addServicePackageCards(card);
        this.initFormCard();
      },
      onResetCard(evt) {
        evt.preventDefault();
        this.$refs.addSPCardModal.hide();
        this.initFormCard();
      }
    }

  }
</script>
