<template>
	<div>
		<pre class="pre-scrollable"><code>{{getXmlMessageText()}}</code></pre>
	</div>
</template>

<script type="text/javascript">
	export default {
	    methods: {
	    	getXmlMessageText(){
	    		let xmlText = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>" + "\n\r"
	        				+ "<" + this.xmlMainTag + ">" + "\n\r"
	        				+ "\t<HeaderInfo RqUID=\""
	        				+  	(Math.random().toString(36).substring(2, 15) 
	        						+  Math.random().toString(36).substring(2, 15) 
	        						+  Math.random().toString(36).substring(2, 15)
	        					).toUpperCase() 
	        				+ "\" "
	        				+ "RqTm=\""
	        				+ (new Date()).toISOString().split('T')[0]
	        							.replace(/(\d{4})-(\d{2})-(\d{2})/g,"$2/$3/$1")
	        				+ " " 
	        				+ (new Date()).toISOString().split('T')[1].replace(/\.\w+/g,"")
	        				+ "\" "
	        				+ "SystemId=\"urn:sbrfsystems:99-crm\" ErrorCode=\"0\" "
	        				+ "ErrorText = \"\"/>\n\r"
	        				+ "\t<Status>\n\r"
	        				+ "\t\t<StatusCode>0</StatusCode>\n\r"
	        				+ "\t</Status>\n\r";

	        	for (let i = 0; i < this.xmlDataObject.length; i++)
	        		xmlText += this.objectToXml(this.xmlDataObject[i],1);
	        	
	        	return xmlText + "</" + this.xmlMainTag + ">";

	    	},
	    	objectToXml(object, level) {

		        var xml = '';

		        if(!object.hasOwnProperty("objName"))
		        	return xml;
		        else xml += this.getTabString4Level(level)
		        		    + "<" + object["objName"] + ">\n\r";

		        for (var prop in object) {
		            if (!object.hasOwnProperty(prop)) {
		                continue;
		            }
		            if (object[prop] == undefined || prop == "objName"
		            			|| object[prop] == null)
		                continue;

		            if (typeof object[prop] == "object" && Array.isArray(object[prop])){
		            	for(let i = 0; i < object[prop].length; i++)
		            		xml += this.objectToXml(object[prop][i], level+1);
		            	continue;
		            }


		            xml += this.getTabString4Level(level+1) + "<" + prop + ">";
		            if (typeof object[prop] == "object")
		                xml += this.objectToXml(new Object(object[prop]), level+1);
		            else
		                xml += object[prop];
		            xml += "</" + prop + ">\n\r";
		        }

		        xml += this.getTabString4Level(level)
		        	+ "</" + object["objName"] + ">\n\r"; 

		        return xml;
		    },
		    getTabString4Level(level){
		    	
		    	var tabString = '';
		    	for(let i = 0; i < level; i++)
		    		tabString += '\t';

		    	return tabString;


		    }
	    },
	    props:{
	    	xmlMainTag : String,
	    	xmlDataObject : Array
	    }
	}
</script>

<style type="text/css">
	code {
		font-size: 12px !important;
		color: #e83e8c !important;
	}
</style>